/*
    Author: David De Alva
    Date: 09/26/2020
    File name: porfolio/css/styles.css
    */
    /*css reset*/

    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
        margin:0;
        padding:0;
        border:0;
        outline:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
    }

    body {
        line-height:1;
    }

    article,aside,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section {
        display:block;
    }

    nav ul {
        list-style:none;
    }

    blockquote, q {
        quotes:none;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
        content:'';
        content:none;
    }

    a {
        margin:0;
        padding:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
    }

    /* change colours to suit your needs */
    ins {
        background-color:#ff9;
        color:#000;
        text-decoration:none;
    }

    /* change colours to suit your needs */
    mark {
        background-color:#ff9;
        color:#000;
        font-style:italic;
        font-weight:bold;
    }

    del {
        text-decoration: line-through;
    }

    abbr[title], dfn[title] {
        border-bottom:1px dotted;
        cursor:help;
    }

    table {
        border-collapse:collapse;
        border-spacing:0;
    }

    /* change border color to suit your needs */
    hr {
        display:block;
        height:1px;
        border:0;
        border-top:1px solid #cccccc;
        margin:1em 0;
        padding:0;
    }

    input, select {
        vertical-align:middle;
    }

    img {
                  max-width: 100%;
                  display: block;
      }
      /*My Code*/
      /*font-family: 'Poppins', sans-serif;*/
/*styles rule for body and img*/
/*Body*/

* {
  text-decoration: none;
}

header #porfolio-logo{
  display: none;
}

header .header-brand {
  display: none;
}
header nav .large-screen-nav{
  display: none;
}
header .me {
  display: none;
}
/*styles for Hamburger menu*/
.mobile-nav{
  display: block;
  background-color: #fff;
  width: 100%;
  height: 155px;
}

.mobile-nav a{
    display: block;
    font-family: 'Nerko One', cursive;
    color: #111;
    text-align: center;
    font-size: 2em;
    text-decoration:none;
    padding: 3%;

}

.mobile-nav a.menu-icon {
      display: block;
      position:absolute;
      right: 0;
      top:0;
      color:#111;

}

#menu-links {
  display: none;
}
header .header-cases{
  display: none;
}


/*Tablet viewport*/
@media only screen and (min-width: 700px) {
  header #porfolio-logo {
    background-color: #fff;
    width: 100%;
    height: 155px;
  }

.mobile-nav {
    display: none;
  }
header  .large-screen-nav {
    display: block;
  }
  header .header-brand {
    display: block;
    font-family: 'Nerko One', cursive;
    font-size: 32px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;

    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
  }

  header nav ul{
      display: block;
      margin: 0 auto;
      width: fit-content;
  }

  header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0  12px;
  }
  header nav ul li a{
    font-family: 'Nerko One', cursive;
    font-size: 28px;
    color: #111;
    text-transform: uppercase;
  }
}



@media only screen and (min-width: 1000px) {

  header {
    height: 100px
  }

  header .header-brand {
    margin: 31px 0;
    text-align: left;
    line-height: 38px;
    padding: 0px 20px 0px 40px;
    border-right: 3px solid #111;
    float: left;
  }
  header nav ul{
      margin: 20px 0px 0px 20px;
      float: left;
  }

  header nav ul li a{
    line-height: 60px;
  }

  header nav ul li  :hover{
        background-color: #111;
        color: #fff;
        border-radius: 5px 5px 15px 15px;
  }

  header .header-cases{
    display: block;
    font-family: 'Nerko One', cursive;
    font-size: 28px;
    color: #111;
    text-transform: uppercase;
    line-height: 38px;
    border: 1px solid #111;
    float: right;
    margin-right: 40px;
    padding: 0 20px;
    margin-top: 30px;
    border-radius: 5px;
  }

}

/*INDEX*/


.index-banner {
  width: 100%;
  height: calc(60vh - 155px);
  background-image: url('C:/Users/davou/Desktop/School/Creating Web pages/Porfolio/Porfolio/images/starry_sky.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}
.index-banner h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  font-weight: 900;
    line-height: 65px;
  text-shadow: 2px 2px 8px #111;
  color: #fff;
  text-align: center;
}

.index-banner h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 100;
  font-style: italic;
  line-height: 55px;
  text-shadow: 2px 2px 8px #111;
  color: #fff;
  text-align: center;
}

.index-links div{
  margin: 20px 20px 0;
  width: calc(100% - 40px);
  height: 100px;
  background-color: #f2f2f2;

}

.index-links div h3{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 1100;
  line-height: 100px;
  text-transform: bold;
  color: #111;
  text-align: center;
  text-transform: uppercase;
  margin: auto;

}
@media only screen and (min-width: 700px) {
  .wapper{
    width: 700px;
    margin: 0 auto;
  }
@media only screen and (min-width: 1000px) {
  .wrapper{
    width: 1000px;
    margin: 0 auto;
  }
   .index-banner {
      height: 450px;
    }
.index-banner h1 {
  display: block;
  width: 700px;
  font-size: 40px;
  font-weight: 100;
  margin: 0 auto;
}

.index-links {
  padding-bottom: 20px;
  overflow: hidden;

}
.index-links div{
  margin: 15px 10px 0;
  height: 230px;
  background-color: #f2f2f2;
  float: left;

}

.index-boxlink-square:hover {
  box-shadow: 2px 2px 4px #111, -2px -2px 4px #111;
}

.index-boxlink-rectangle:hover {
  box-shadow: 2px 2px 4px #111, -2px -2px 4px #111;
}

.index-boxlink-square{
    width: calc(25% - 20px) !important;
}
.index-boxlink-rectangle{
    width: calc(50% - 20px) !important;
}
.index-links div h3{
  margin: auto;
  padding-top: 85px;
  padding right: 30px;
  line-height:50px;
  text-align: center;
}
}

/*CONTACT*/
/*.wrapper{
  display: block;
}*/

.contact-info {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin: 40px auto;
  text-decoration: none;

}

.contact-info a {
  text-decoration: none;
}
.contact-info h4 {
  text-decoration: none;
}

.contact-info a:hover{
  transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.25);
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-openmap {
  margin: 20px 20px 0;
  width: calc(100% - 40px);
  height: 100px;
  background-color: #f2f2f2;
}

.contact-openmap h3{
  font-size: 35px;
  font-weight: 1100;
  line-height: 100px;
  text-transform: bold;
  color: #111;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
}
.contact-openmap  h3 a{
  text-decoration: none;
}

.contact-map{
  display: none;
}

.contact-input{
  width: 100%;
  height: 1120px;
  background-color: #f2f2f2;
  margin: 60px auto;
  display: grid;
  grid-template-columns: 1fr;
/*  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1 fr ;*/
    grid-template-areas:
    "contact-input-title"
    "fName"
    "lName"
    "email"
    "PhoneNumber "
    "Msg"
    "submit";
  }

  .contact-input-title {
    grid-area: contact-input-title;
    align-self: center
  }
  .contact-input-title h2 {
    font-size: 40px;
    margin-left: 15%
  }

  .fName {
    grid-area: fName ;

  }

  .fName label{
        font-size: 40px;
      line-height: 50px;
       justify-self: start;
  }
  .fName input{
    width: 75%;
    height: 40px;
    font-size: 38px;
    margin-top: 4px;

  }

  .lName {
    grid-area: lName;
  }
  .lName label{
        font-size: 40px;
      line-height: 50px;
       justify-self: start;
  }
  .lName input{
    width: 75%;
    height: 40px;
    font-size: 38px;
    margin-top: 4px;

  }

  .email {
      grid-area: email;
  }

  .email label{
        font-size: 40px;
      line-height: 50px;
       justify-self: start;
  }
  .email input{
    width: 75%;
    height: 40px;
    font-size: 38px;
    justify-self: end;
  }


.PhoneNumber {
    grid-area: PhoneNumber;
}
.PhoneNumber label{
      font-size: 40px;
    line-height: 50px;
     justify-self: start;
}
.PhoneNumber input{
  width: 65%;
  height: 40px;
  font-size: 38px;

}

.Msg {
    grid-area: Msg;
    margin: 20px 5% 0 ;
}
.Msg label{
      font-size: 35px;
    line-height: 50px;
     justify-self: start;
}
.Msg textarea{
  width: 90%;
  height: 120px;
  font-size: 38px;

}

.submit {
    grid-area: submit;
    justify-self: center;
    align-self: center;
}

.submit input {
  margin: 20px 20px 0;
  width: calc(100% - 40px);
  height: 100px;
  background-color: #a7a5a5;
   font-size: 60px;
   color: #fff;
}




@media only screen and (min-width: 1000px) {
  .wrapper{
    width: 1000px;
    margin: 0 auto;
  }
  .contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas:
    "contact-info contact-input"
    " contact-map contact-input";

  }

  .contact-info {
    grid-area: contact-info;
    font-size: 25px;
    text-align: left;
  }

  .contact-map{
    display: grid;
    grid-area: contact-map;
    border: 3px solid #111;
    margin-right: 15px
  }



  .contact-input{
    width:auto;
    height: auto;
    grid-area: contact-input;
    display: grid;
    margin: 0;
  }

  .contact-input-title {
    grid-area: contact-input-title;
    font-size: 30px;
    align-self: center;
  }

  .fName {
    grid-area: fName ;
  }

  .lName {
    grid-area: lName;
  }

  .email {
      grid-area: email;
  }

.PhoneNumber {
    grid-area: PhoneNumber;
}

.Msg {
    grid-area: Msg;
}

.submit {
    grid-area: submit;
    justify-self: center;
}
.submit :hover {
  background-color: #fff;
   color: #a7a5a5;
}

  .contact-form label{
      font-size: 20px;
      line-height: 20px;
      padding: 0;
  }

  .contact-form input{
      height: 35px;
      font-size: 30px;
  }
  .Msg input {
      height: 32px ;
  }

  .contact-openmap {
  display: none;
  }

}
/*References*/

.ref-header {
  margin: 35px 30% 20px;
}
.ref-header h1{
  padding-top: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

table{
  width: 100%;

}
table th{
  text-align: left;
  font-size: 30px
}

table, th, td {

  border: 1px solid #111;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;

}

 td {
  font-size: 24px;
}

tr:nth-child(even) {
  background-color: #fff;
}

tr:nth-child(odd) {
  background-color: #ddd;
}

.ref-article {

  margin: 20px 30px;
  font-family: 'Poppins', sans-serif;

}

.ref-article h3 {
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  margin: auto;
}

@media only screen and (min-width: 1000px) {
  .wrapper{
    width: 1000px;
    margin: 0 auto;
  }
.ref-gradient {
  display: block;
  background-image: linear-gradient(to bottom right, #ff3cac, #562b7c, #2b86c5);
  padding: 5px 5px;
  margin-top: 10px;
}
.ref-article {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

.ref-article p{
  font-size: 1.2em;
}
}

/*  ABOUT */

.about-header {
  margin: 0 20% 20px;
}
.about-header h1{
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.about-paragraphOne {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;

}

.about-paragraphTwo {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;

}
.about-image {
  display: block;
  width: 100%;
}

.about-list {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .wrapper{
    width: 1000px;
    margin: 0 auto;
  }

  .about-grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "paragraph image"
    "paragraph2 paragraph2";

  }
  .about-paragraphOne{
    grid-area: paragraph;
  }

  .about-paragraphOne p{
    font-size: 26px;
  }
  .about-paragraphTwo{
    grid-area: paragraph2;
    justify-self: start;
  }
  .about-paragraphTwo p{
    font-size: 26px;
  }

  .about-image{
    grid-area: image;
  }

  .about-list {
    display: block;
    margin: 0 25% 50px 45% ;
    font-family: 'Poppins', sans-serif;
  }

  .about-list h3 {
    font-size: 25px;
  }
  .about-list ul li {
    font-size: 18px;
  }
}


/*RDP*/

.RDP-intro {
  font-family: 'Poppins', sans-serif;
}
.RDP-intro h1{
  margin:auto;
  padding: 10% 0 0;
  font-size: 1.5em;
  text-align: center;
}
.RDP-intro p{
  display: block;
  font-size:  15px;
  padding-bottom: 25px;
  line-height: 25px;

}

.RDP-audio{
  width: 100%;
  margin: 0 40%;
}


@media only screen and (min-width: 1000px) {
  .wrapper{
    width: 1000px;
    margin: 0 auto;
  }










/*FOOTER*/

footer {
  width: calc(100%- 100px);
  padding: 40px 40px;
  margin-top: 20px;
  background-color: #111;
  overflow: hidden;
}

footer  ul{
  width: fit-content;
  float: left;
  padding-left: 20px;
}

footer  ul li{
  display: block;
  list-style: none;
}

footer  ul li a{
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  color: #fff;
  line-height: 40px;
}

footer p{
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #fff;
}
.footer-links-cases {
  display: none;
}

.footer-sm{
  width: 60px;
  float: right;
}

.footer-sm img{
  width: 100%;
  margin-bottom: 10px;
}

.LinkedIn img {
  border-radius: 100px;
}

.footer-copy p{
  font-size: 6px;
}

@media only screen and (min-width: 1000px) {

  .wrapper{
    width: 1000px;
    margin: 0 auto;
  }

  footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 20px;
    background-color: #111;
    overflow: hidden;
  }

  .footer-links-cases {
    display: block;
  }
  footer  ul{
    padding-right: 30px
  }
  footer  ul li p{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
  }

  .footer-copy p{
    font-size: 8px;
  }

.footer-links-cases  li a{
      font-size: 15px;
}

}
